/* ここから！！ */
body {
    /* background-color: white; */
    width: 100%;
    margin: 0 auto;
    font-family: 'Noto Sans JP', sans-serif;
    /* background: linear-gradient(40deg, #e7e9ef, #8282e4); */
}
html, body {
  overflow-x: hidden;
  background-color: #F8FAFA;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 24px;
}

.header {
    display: flex;
    justify-content: space-around;
    /* align-items: flex-start; */
    padding: 30px 60px;
    /* background-color: #faf9f6; */
    /* background: linear-gradient(40deg, #e7e9ef, #8282e4); */
    position: relative;
}

.header-text {
    padding: 180px 30px 90px 60px;
}

.header-text h1 {
    color: #334155;
    font-size: 76px;
    letter-spacing: 1rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1.5s ease forwards;
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.header-text p {
    font-size: 20px;
    padding-top: 270px;
    letter-spacing: 7px;
    color: #64748B;
}

.nav-list {
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 8px 30px 0 0;
}
.nav-list ul {
    display: flex;
    list-style: none;
    gap: 25px;
    margin: 0;
    padding: 0;
}
.nav-list ul li a {
    text-decoration: none;
    color: #2F3537;
    font-size: 1rem;
    /* font-weight: bold; */
    font-family: 'Playfair Display', sans-serif;
}
.nav-list ul li a:hover {
    color: #D1A27A;
}

/* section */
section {
    padding: 60px;
}
h2 {
    margin: 30px 0 60px 40px;
    color: #64748B;
    font-size: 50px;
    letter-spacing: 3px;
    font-family: 'Playfair Display', sans-serif;
}

h3 {
    color: #475569;
    font-size: 24px;
    letter-spacing: 3px;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Playfair Display', sans-serif;
}
h4 {
    font-size: 20px;
    text-align: center;
    /* margin-left: 40px; */
    padding-bottom: 20px;
    color: #475569;
    border-bottom: 2px solid #E2E8F0;
}


/* wroks */
.works-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.works-item {
    width: 400px;
    height: 380px;
    background: #FFFFFF;
    border-radius: 8px;
    border: 4px solid #E2E8F0;
    margin-bottom: 70px;
    /* flex-wrap: wrap; */
}
.works-list p {
    text-align: center;
    font-size: 20px;
    /* text-decoration: none; */
}

/* skills */
.skills {
    padding-bottom: 150px;
}
.skills-list {
    display: flex;
    justify-content: center;
    gap: 70px;
    /* flex-wrap: wrap; */
}
.skills-card {
    background: #fff;
    padding: 30px;
    width: 230px;
    border: 6px solid #E2E8F0;
    border-radius: 8px;
}
.skills-card p {
    font-size: 14px;
    letter-spacing: 2px;
    color: #2F3537;
    /* text-align: center; */
}
/* about */
.about {
    /* background: #faf7f2; */
    padding: 80px 0;
}
.about h2 {
    margin-bottom: 60px;
    /* text-align: center; */
}
.about-inner {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: 0 auto;
    gap: 80px;
}
.about-inner p {
    font-size: 16px;
    color: #64748B;
    line-height: 30px;
    margin-left: 40px;
}
.about img {
    width: 400px;
    height: auto;
    border-radius: 8px;
}


/* footer */
.footer {
    text-align: center;
    padding: 8px;
    font-size: 13px;
    color: #2F3537;
}

