/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

/* ここから！！ */
body {
    background-color: white;
    width: 100%;
    margin: 0 auto;
    font-family: 'Noto Sans JP', sans-serif;
}
html, body {
  overflow-x: hidden;
  max-width: 100vw;
}

.header {
    display: flex;
    justify-content: space-around;
    /* align-items: flex-start; */
    padding: 30px 60px;
    background-color: #faf9f6;
    /* background: linear-gradient(40deg, #e7e9ef, #8282e4); */
    position: relative;
}

.header-text {
    padding: 180px 30px 90px 60px;
}

.header-text h1 {
    color: #5a5a5a;
    font-size: 76px;
    letter-spacing: 1rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1.5s ease forwards;
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.header-text p {
    font-size: 20px;
    padding-top: 270px;
    letter-spacing: 7px;
    color: #333;
}

.nav-list {
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 8px 30px 0 0;
}
.nav-list ul {
    display: flex;
    list-style: none;
    gap: 25px;
    margin: 0;
    padding: 0;
}
.nav-list ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    /* font-weight: bold; */
    font-family: 'Playfair Display', sans-serif;
}
.nav-list ul li a:hover {
    color: #98a5b4;
}

/* section */
section {
    padding: 60px;
}
h2 {
    margin: 50px 0 100px 0;
    color: #5a5a5a;
    font-size: 60px;
    font-family: 'Playfair Display', sans-serif;
}

h3 {
    color: #5a5a5a;
    font-size: 30px;
    letter-spacing: 3px;
    text-align: center;
    padding-bottom: 40px;
    font-family: 'Playfair Display', sans-serif;
}
h4 {
    font-size: 25px;
}


/* wroks */
.works {
    padding-bottom: 50px;
}
.works-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.works-item {
    width: 370px;
    height: 380px;
    background: #faf7f2;
    border-radius: 8px;
    border: 2px solid #faf7f2;
    margin-bottom: 70px;
    /* flex-wrap: wrap; */
}
.works-list p {
    text-align: center;
    font-size: 20px;
    /* text-decoration: none; */
}
/* skills */
.skills {
    padding-bottom: 200px;
}
.skills-list {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    gap: 30px;
}
.skills-card {
    background: #fff;
    padding: 20px ;
    width: 400px;
    border: 6px solid rgb(225, 229, 218);
    border-radius: 8px;
}
.skills-card p {
    font-size: 21px;
    letter-spacing: 3px;
    /* text-align: center; */
}
/* about */
.about {
    background: #faf7f2;
    padding-bottom: 120px;
    padding-left: 80px;
}
.about-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-inner p {
    font-size: 21px;
    color: #555;
}
.about img {
    width: 420px;
    margin-right: 80px;
}


/* footer */
.footer {
    text-align: center;
    padding: 8px;
    font-size: 13px;
    color: #453939;
}

